* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  user-select: none;
  color: white;
}

body {
  display: flex;
  height: 100vh;
  z-index: 0;
}

body .sidebar {
  background-color: rgb(35, 35, 35);
  flex: 0;
  min-width: 20vw;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

body .sidebar .title {
  text-align: center;
}

body .sidebar h2 {
  font-size: 1.1rem;
}

body .withicon {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 1rem;
  padding: 4px;
  padding-left: 16px;
  margin: 8px 0px;
  border-radius: 100px;
}

body .sidebar .withicon:hover {
  cursor: pointer;
  background-color: rgb(56, 56, 56);
}

body .sidebar .withicon h3 {
  font-size: 0.9rem;
}

body .main {
  flex: 1;
  background-color: rgb(62, 62, 62);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

body .main h2 {
  font-size: 4rem;
  padding-bottom: 10px;
}

body .main h3 {
  padding-bottom: 20px;
}

body .main button {
  font-size: 1rem;
  border: 1px solid white;
  padding: 8px 16px;
  background-color: rgb(50, 50, 50);
  border-radius: 10px;
}

body .main button:hover {
  cursor: pointer;
  background-color: rgb(31, 31, 31);
}

body #addProject-modal {
  position: fixed;
  width: 100vw;
  height: 100vh;
  display: none;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.548);
}

body #addProject-modal .wholeModal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 350px;
  display: flex;
  flex-direction: column;
  padding: 15px 20px;
  gap: 12px;
  background-color: rgb(43, 43, 43);
}

body #addProject-modal .wholeModal input {
  color: black;
}

body #addProject-modal .wholeModal .buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  button {
    color: black;
    width: 80px;
    padding: 3px 0px;
  }
}
