* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  user-select: none;
  color: white;
}

html {
  font-size: 16px;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: rgb(90, 90, 90);
  border-radius: 10px;
}

body {
  display: flex;
  height: 100vh;
  z-index: 0;
}

body #menu-btn {
  display: none;
}

body .sidebar {
  background-color: rgb(35, 35, 35);
  max-width: 300px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  overflow: hidden;
  height: 100vh;
}

body .sidebar .title {
  padding-inline: 30px;
  /* text-align: center; */
  align-self: center;
}

body .sidebar h2 {
  font-size: 1.1rem;
}

body .withicon {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 1rem;
  padding: 4px;
  padding-left: 16px;
  margin: 8px 0px;
  border-radius: 100px;
}

body .sidebar .withicon:hover {
  cursor: pointer;
  background-color: rgb(56, 56, 56);
}

body .sidebar .withicon h3 {
  font-size: 0.9rem;
}

body .sidebar .withicon.add.button.project {
  margin-bottom: 0px;
}

body .sidebar .withicon.open.button.project div {
  text-overflow: ellipsis;
  overflow: hidden;
}

body .sidebar #projects {
  flex-grow: 1;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

body .sidebar #projects .scrollable {
  overflow-y: auto;
  overflow-x: hidden;
  padding-right: 10px;
  scroll-behavior: smooth;
}

body .sidebar #projects .scrollable div:hover {
  i {
    visibility: visible !important;
  }
}

body .sidebar #projects .scrollable h3 {
  overflow: hidden;
  text-overflow: ellipsis;
}
body .main {
  width: calc(100% - 200px);
  /* flex: 1; */
  background-color: rgb(62, 62, 62);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

body .main h2 {
  font-size: 4rem;
  padding-bottom: 10px;
}

body .main h3 {
  padding-bottom: 20px;
}

body .main button {
  font-size: 1rem;
  border: 1px solid white;
  padding: 8px 16px;
  background-color: rgb(50, 50, 50);
  border-radius: 10px;
}

body .main.project #tasks {
  overflow: auto;
  overflow-x: hidden;
  position: relative;
  padding-top: 8px;
}

body .main.project #tasks div i {
  padding: 2px;
}

body .main button:hover,
body .main.project #tasks div i:hover {
  cursor: pointer;
  background-color: rgb(31, 31, 31);
}

body .main.project {
  display: none;
  grid-template-columns: auto 1fr 1fr;
  grid-template-rows: 60px auto;
  text-align: center;
  padding: 20px 60px 30px 60px;
}

body .main.project h2 {
  font-size: 1.8rem;
  padding-bottom: 0px;
  justify-self: first baseline;
  align-self: center;
  max-width: 500px;
  overflow: hidden;
  text-overflow: ellipsis;
  text-decoration: underline;
}

body .main.project h2:hover {
  cursor: pointer;
}

body .main.project p {
  justify-self: first baseline;
  align-self: center;
  padding-left: 8px;
  font-size: 1.2rem;
}

body .main.project #tasks p {
  font-size: 1rem;
}

body .main.project .add.button {
  justify-self: last baseline;
  align-self: center;
  border: 1px solid white;
  padding: 4px 20px 4px 12px;
}

body .main.project .add.button:hover {
  cursor: pointer;
  background-color: rgb(31, 31, 31);
}

body .main.project #tasks {
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  height: 100%;
  .task {
    display: grid;
    grid-template-columns: 4fr 1fr;
    gap: 8px;
    .priority {
      justify-self: center;
    }
    .taskName {
      justify-self: first baseline;
    }
    .taskDueDate {
      justify-self: last baseline;
    }
  }
  .empty {
    padding: 4px 0px;
  }
}

body .main.project div.withicon.add.button.task {
  display: flex;
  align-items: center;
}

body .main.project .withicon h3 {
  font-size: 0.9rem;
  padding-bottom: 0px;
}

body .main.project #tasks {
  grid-column: span 3;
}

body #addProject-modal,
#addTask-modal,
#updateProject-modal,
#updateTask-modal,
#confirmDeleteProject-modal,
#confirmDeleteTask-modal,
#infoTask-modal {
  position: fixed;
  width: 100vw;
  height: 100vh;
  display: none;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.548);
}

form.wholeModal,
div.wholeModal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 350px;
  display: flex;
  flex-direction: column;
  padding: 15px 20px;
  gap: 12px;
  background-color: rgb(43, 43, 43);
}

body .wholeModal input,
select,
option,
textarea {
  color: black;
  resize: none;
}

body .wholeModal .buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  button {
    color: black;
    width: 80px;
    padding: 3px 0px;
  }
}

.active {
  background-color: rgb(75, 75, 75);
  i.deleteIcon {
    visibility: visible !important;
  }
}

.detail {
  overflow: hidden;
  transition: transform 330ms;
  display: grid;
  grid-template-columns: min-content auto min-content;
  padding: 4px 16px;
  gap: 12px;
}

.detail:hover {
  background-color: rgb(40, 40, 40);
  transform: scale(1.01);
  cursor: pointer;
  /* box-shadow: 3px 3px 5px 2px rgba(0, 0, 0, 0.2); */
  /* padding: 0px; */
  /* background-color: rgb(107, 109, 79); */
}

.detail input:hover {
  cursor: pointer;
}

.editDelete {
  width: 80px;
}

@media screen and (max-width: 1050px) {
  html {
    font-size: 12px;
  }

  body .main.project #tasks .task {
    grid-template-columns: 7fr 3fr;
  }

  body .main.project #tasks .detail {
    padding-right: 0px;
  }

  body .main.project .add.button {
    padding: 3px 16px 3px 9px;
  }

  .material-icons,
  body .main.project #tasks div i {
    font-size: 20px;
  }
}

@media screen and (max-width: 750px) {
  body .sidebar {
    .title {
      display: none;
    }
    position: absolute;
    justify-self: center;
    width: 100%;
    top: 25px;
    transition: 0.5s;
    padding: 0px;
    height: 0px;
    opacity: 0;
  }

  body .sidebar.active {
    height: 100%;
    opacity: 1;
    z-index: 10;
    padding: 20px 20px 40px 20px;
  }

  body .main {
    width: 100%;
  }

  body {
    display: grid;
    grid-template-rows: auto 1fr;
    overflow: hidden;
  }

  body #menu-btn {
    background-color: rgb(35, 35, 35);
    display: flex;
    justify-content: space-between;
    padding: 5px 15px;
  }
}

@media screen and (max-width: 550px) {
  html {
    font-size: 10px;
  }

  body .main h2 {
    text-align: center;
  }

  body .main.project #tasks .task {
    grid-template-columns: 6fr 4fr;
  }
}
